/*CSS Reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.navbar {
	background-color:white;
	opacity: 55%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.jumbotron {
	height: 100vh;
	background-color: #E5E7E9;
}


#j-con {
	height: 100%;
	display: flex;
	align-items: center;
	padding-top: 1em;
}


.jumbotron h2 {
	font-family: 'Roboto Slab', serif;
	color: #B7B29C;
	padding-top: 1em;
	font-size: 5.5rem;
	font-weight: 600;
}

.jumbotron .col-12 h2 {
	font-family: 'Roboto Slab', serif;
	color: #B7B29C;
	padding-top: 1em;
	font-size: 4rem;
	font-weight: 600;
}

.jumbotron .col-12 h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	font-size: 5em;
	color: #864752;
}


.jumbotron a {
	background-color: white;
	border-color: #864752;
	color: #864752;
}

.jumbotron h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	font-size: 6em;
	color: #864752;
}

#j-text1 {
	font-size: 1.5rem;
	margin-top: 2rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#j-text2 {
	font-size: 1.2em;
	margin-bottom: 2em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#a-con {
	/*height: 100vh;*/
	padding-top: 4em;
}

#a-con img {
	width: 200px;
}

#a-con1 h4 {
	margin-top: 1em;
	font-family: 'Roboto Slab', serif;
	color: #292B2C;
	font-size: 2em;
	font-weight: 600;
}

#a-imgset1 img {
	width: 70px;
	filter: grayscale(100%) opacity(50%);
	margin-bottom: 1em;
}

#a-imgset1 img:hover {
	filter: grayscale(0%) opacity(100%);
}

#a-imgset2 img {
	width: 45px;
	margin-left: 15px;
	filter: grayscale(100%) opacity(30%);
	margin-bottom: 4em;
}

.card-body h6 {
	font-family: 'Roboto Slab', serif;
	color: #292929;
	font-size: 2em;
	font-weight: 600;
}

#a-imgset2 img:hover {
	filter: grayscale(0%) opacity(100%);
}

#a-d1 {
	/*font-family: 'Roboto', sans-serif;
	color: #292B2C;*/
	font-size: 1.2em;
	font-weight: 300;
	font-style: italic;
}

#a-d2{
	padding-left: 2em;
	padding-right: 3em;
}

#a-con h2 {
	font-family: 'Roboto Slab', serif;
	color: #9B2C3F;
	font-size: 4em;
	font-weight: 600;
}

#a-con h5 {
	font-family: 'Roboto Slab', serif;
	color: #864752;
	font-size: 2em;
	font-weight: 600;	
}

#d-line1 {
	background-color: #E5E7E9;
	height: 1px;
	margin-top: 2em;
}

#d-line2 {
	background-color: #976B67;
	height: 2px;
	margin-top: 2em;
}

#q-box {
	/*border: 1px solid #F4F6F6;*/
	padding-left: 2em;
	padding-right: 1em;
}

#a-con2 > p {
	font-size: 1.2em;
	margin-bottom: 1.8em;
}


#a-con2 h6 {
	font-size: 1.5em;	
	font-weight: 400;
	margin-bottom: 1em;
	/*color: #999999;*/
}


#quote {
	font-family: 'Petit Formal Script', cursive;
	color: #292B2C;
	font-size: 1.8em;
}

#author { 
	color: #292929;
}
#p-con {
	/*height: 100vh;*/
	padding-top: 4em;
}

#p-con h2 {
	font-family: 'Roboto Slab', serif;
	color: #9B2C3F;
	font-size: 4em;
	font-weight: 600;
	margin-bottom: 1em;
}

#p-con a {
	background-color: #C5C2B2;
	color: white;
}

#p-con a:hover {
	background-color: #292B2C;
	color: white;
}

#proj-cs {
	background-color: #E5E7E9;
	height: 12em;
	text-align: center;
	display: flex;
	align-items: center;
}

#c-con {
	/*height: 100vh;*/
	padding-top: 4em;
	/*background-color: #F4F6F6;*/
}
/*
#c-form {
	background-image: url(./images/shapes1.png);
	background-repeat: no-repeat;
	background-size: 80%;
}*/

#c-con h2 {
	font-family: 'Roboto Slab', serif;
	color: #9B2C3F;
	font-size: 4em;
	font-weight: 600;
}

#c-con button {
	background-color: #C5C2B2;
	color: white;
}

#c-con button:hover {
	background-color: #292B2C;
	color: white;
}

#c-con .btn-sm {
	max-height: 28px;
	padding: 3px;
}

#c-con img {
	height: 30px;
}

#c-con .btn-sm img {
	height: 14px;
}

.map {
	filter: grayscale(100%);
}

#footer-band {
	margin-top: 2em;
	padding-top: 2em;
	padding-bottom: 1em;
	background-color: #E5E7E9;
}

#footer-band img {
	height: 30px;
	margin-right: 1em;
	filter: grayscale(100%) opacity(50%);
}

#footer-band img:hover {
	filter: grayscale(0%) opacity(100%);
}

#footer-band h6 {
	font-family: 'Roboto Slab', serif;
	color: #864752;
}

#footer-band li {
	font-size: 12px;
	font-weight: 400;
	color: #999999;
}

ul {
	list-style-type: none;
}

footer {
	text-align: center;
	font-size: 11px;
	background-color: #864752;
	color: white;
	padding: 0.5em;
}



